* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 5px 0px 10px 0px rgb(109, 109, 109);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    z-index: 10;
}

.logo {
    width: 55px;
    height: 55px;
    margin-right: 840px;
    cursor: pointer;
}

.addCoureseLetter {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.addCoureseLetter:hover {
    background-color: rgb(243, 243, 244);
}

.profile {
    margin-right: 60px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    font-size: 20px;
    cursor: pointer;
}

.courseContainer {
    margin: 180px 80px 80px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.course {
    padding: 10px;
    width: 250px;
    height: 400px;
    border: 1px solid rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.course:hover {
    cursor: context-menu;
    box-shadow: 1px 1px 8.5px 0px rgb(184, 184, 184);
}


.image {
    width: 135px;
    height: 135px;
    border-radius: 10px;
    margin-top: 10px;
}

.courseName {
    text-align: center;
    color: rgb(61, 61, 61);
}

.description {
    color: rgb(61, 61, 61);
    font-size: 15px;
}

.editAndDeleteBtns {
    display: flex;
    gap: 20px;
}

.editBtn {
    padding: 4px 10px;
    background-color: rgb(15, 195, 15);
    border: none;
    border-radius: 3.5px;
    color: white;
}

.deleteBtn {
    padding: 5px 10px;
    background-color: red;
    border: none;
    border-radius: 3.5px;
    color: white;
}

.editBtn:hover {
    background-color: rgb(10, 133, 10);
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: rgb(179, 12, 12);
    cursor: pointer;
}